/Security/spring-security-basic/target
/Security/spring-security-database/target
/CORE/My-Spring5-core-app-xml/target
/CORE/My-Spring5-core-app/target
/CORE/My-Spring5-core-app-annotation-props/target
/CORE/My-Spring5-core-app-annotations/target
/CORE/My-Spring5-core-app-javaconf/target
/CORE/My-Spring5-advancedcore-app-disposablebean/target
/CORE/My-Spring5-advancedcore-app-applicationcontextaware/target
/CORE/My-Spring5-advancedcore-app-beannameaware/target
/JDBC/My-Spring5-JDBC/target/
/CORE/spring-exam-preparation/target
